*{
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  color: #f3f2f1;
  text-align: center;
  font-family: sans-serif;
}

body{
  background-color: #202020;
}

header{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  padding: 24px 24px 16px 24px;
}

header > div > p{
  font-size: 18px;
  margin-top: 4px;
}

header > p{
  color: #a5a5a5;
}

form{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.container-inputs{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  width: 400px;
}

.container-inputs div{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
}
.container-inputs div label{
  color: #a5a5a5;
}

.input{
  width: 350px;
  background-color: #f3f2f1;
  text-align: left;
  color: #303030;
  padding: 8px 12px;
  border: none;
  border-radius: 8px;
}

form button{
  padding: 16px 20px;
  border: none;
  color: #f2f3f1;
  background-color: #1313c2;
  cursor: pointer;
  border-radius: 32px;
  font-size: 16px;
}

.container-result{
  margin: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.result{
  display: none;
  flex-direction: column;
  align-items: flex-start;
  margin: 0 auto;
  max-width: 450px;
  border-radius: 8px;
  padding: 12px;
  gap: 4px;
  background-color: #f2f3f1;
  color: #303030;
}

.result h2{
  color: #303030;
  padding: 12px;
}

.result li{
  padding: 4px;
  color: #303030;
}

.result strong{
  color: #303030;
}

.feedback-error{
  border: 2px solid #ff6622;
}

.error{
  color: #ff6622;
}